html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
    margin: 0 0 0 0;
    height: 100%;
    background-color: $base-background-color;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    & > * {
        flex: 1;
    }

    & > *:last-child {
        flex: 0;
    }
}

.content {
    @include outer-container;

    margin-top: 5em;
    margin-bottom: 3em;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}
