#assembler-content {
    @include outer-container(80%);
    min-width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;

    .block {
        @include row();
        flex: 1;
        position: relative;
    }

    .code {
        @include span-columns(12);

        position: absolute;
        height: 100%;

        & > div.CodeMirror {
            height: 100%;
            width: 100%;
        }
    }

    .code-thin {
        @extend .code;
        @include span-columns(8);
    }

    .output-hidden {
        @include span-columns(0);
    }

    .output-show {
        @include omega();
        @include span-columns(4);
    }
}
