.content#assembler-content
  hr
  .block
    #editor(:class='editorClasses')
      Editor(:content.sync='editorContent')

    #instructions(:class='instructionClasses')
        .instruction(v-for='instruction in instructions', track-by='$index', @click='flipInstruction', class='instruction-{{ $index }}')
          {{ instruction }}
  hr
