.content#assembler-content
  hr
  Editor(:content.sync='editorContent')
  .output-hidden#assembler-instructions
      .instruction(v-for='instruction in instructions', track-by='$index', @click='flipInstruction', class='instruction-{{ $index }}')
        {{ instruction }}
  hr

AppFooter(:actions='actions')
