.content#assembler-content
  hr
  .block
    #editor(:class='editorClasses')
      Editor(:content.sync='editorContent')

    #instructions(v-if='showInstructions')
        .instruction(v-for='instruction in assembler.instructions', track-by='$index', @click='flipInstruction', id='instruction-{{ $index }}')
          {{ instruction.binary }}
  hr
