footer.footer(role='contentinfo')
  ul(v-for='(class, action) in actions')
    li
      button(class='{{class}}', @click='action.callback') {{action.name}}

  .footer-secondary-links.pull-right
    ul
      li
        a(href='http://www.nand2tetris.org/') Official Site
      li
        a(href='https://github.com/cderwin/hack-site') Contribute
      li
        a(href='mailto:camderwin@gmail.com?subject=Let Me Introduce Myself') Contact
      li
        a(href='https://mit-license.org') License

    ul.footer-social
      li
        a(href='https://github.com/cderwin/hack-site')
          i.github-icon
      li
        a(href='https://camderwin.us')
          i.external-link-icon
      li
        a(href='https://twitter.com/camderwin')
          i.twitter-icon
