footer.footer(role='ontentinfo')
  .footer-logo
    img(src='', alt='logo')
  ul
    li
      a(href='javascript:void(0)') About
    li
      a(href='javascript:void(0)') Contact
    li
      a(href='javascript:void(0)') Products

  .footer-secondary-links
    ul
      li
        a(href='javascript:void(0)') Terms and Conditions
      li
        a(href='javascript:void(0)') Privacy Policy

    ul.footer-social
      li
        a(href='https://github.com/cderwin/hack-site')
          img(src='', alt='Github')
      li
        a(href='https://camderwin.us')
          img(src='', alt='Site')
      li
        a(href='https://twitter.com/camderwin')
          img(src='', alt='Twitter')
