doctype html
html(lang='en')
head
  title Tools for the Hack Architecture
  link(rel='stylesheet', type='text/css', href='/app.css')

body
  include ../includes/nav.jade
  main#content
    router-view
  include ../includes/footer.jade
  script(type='text/javascript', src='DIGEST(/app.js)')
  script(type='text/javascript').
    require('initialize');
