header.centered-navigation(role='banner')
  div.centered-navigation-wrapper
    a.mobile-logo(href='javascript:void(0)')
      img(src='blah')
    a.centered-navigation-mobile-menu#js-centered-navigation-mobile-menu(href='javascript:void(0)')
    nav(role='navigation')
      ul.centered-navigation-menu.show#js-centered-navigation-menu
        li.nav-link
          a Products
        li.nav-link
          a About Us
        li.nav-link
          a Contact
        li.nav-link.logo
          a.logo
            img(src='blah', alt='logo image')
        li.nav-link
          a(href='http://www.nand2tetris.org') Official Site
        li.nav-link
          a(href='https://github.com/cderwin/hack-site') Contribute
        li.nav-link
          a Signup

