footer.footer(role='contentinfo')
  .footer-logo
    img(src='/logo.png', alt='logo')
  ul
    li
      a(href='/') Home
    li
      a(href='/hdl') Hardware Simulator
    li
      a(href='/assembler') Assembler
    li
      a(href='/compiler') Virtual Machine

  .footer-secondary-links
    ul
      li
        a(href='https://github.com/cderwin/hack-site') Contribute
      li
        a(href='mailto:camderwin@gmail.com?subject=Let Me Introduce Myself') Contact
      li
        a(href='https://mit-license.org') License

    ul.footer-social
      li
        a(href='https://github.com/cderwin/hack-site')
          i.github-icon
      li
        a(href='https://camderwin.us')
          i.external-link-icon
      li
        a(href='https://twitter.com/camderwin')
          i.twitter-icon
